.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.RaSidebar-fixed {
  background-color: transparent !important;
}

.RaLayout-root {
  background-color: transparent !important;
}

.glass {
  /* From https://css.glass */
  background: rgba(172, 204, 214, 0.2) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(12.9px) !important;
  -webkit-backdrop-filter: blur(12.9px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.mark-as-paid-button {
  left: 50%;
}

/* .RaList-main {
  margin-top: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(232, 244, 248, 0.5);
  padding: 15px;
  border-radius: 10px;
} */

.MuiAppBar-root {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(232, 244, 248, 0.5);
}

.RaLayout-content {
  margin: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(232, 244, 248, 0.5) !important;
  padding: 20px;
  border-radius: 10px;
}

/* .RaShow-root {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(232, 244, 248, 0.5);
  padding: 15px;
  border-radius: 10px;
} */

.RaCreate-card {
  background-color: transparent !important;
  box-shadow: none !important;
}

.RaToolbar-root {
  background-color: transparent !important;
}